__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc
*.pyo
*.sqlite3

.env
*.local

db.sqlite3

frontend/migrations/
api/migrations/
*/migrations/*.py
*/migrations/*.pyc

media/
staticfiles/

htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


.vscode/

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/

venv/
env/
ENV/
venv.bak/

*.manifest
*.spec

*.orig

*.bak
*.backup
*.swp
*.swo
